*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --polo-background: #F2F3EE;
    --gradient: linear-gradient(to right, #eef2f3, #8e9eab);
    --background: #f2709c;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

button:hover{
    cursor: pointer !important;
}

body{
    font-family: sans-serif;
    font-size: 2rem;   
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    padding: 4rem;
    gap: 2rem;
    background: var(--gradient);
    position: relative;
}
.modal{
    width: 50rem;
    height: 30rem;
    position: fixed;
    top: 20%;
    background: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.3);
    color: green;
    font-size: 130%;
    font-weight: 400;
    border-radius: .5rem;
}

.searchBar{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
    width: 60%;
}

.searchBar__input{
    width: 40rem;
    font-size: 2rem;
    border: .3rem solid var(--background);
    border-radius: .5rem;
    padding: 2rem 8rem 2rem 4rem;
    box-shadow: 0 .5rem 1rem .5rem rgba(242, 112, 156, 0.3);
}

.searchBar__glass{
    width: 6rem;
    height: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: white;
    position: absolute;
    left: calc(40rem - 6rem);
    border-radius: 0 .5rem .5rem 0;
}

.checkout{
    width: 70%;
    height: 80%;
    background: var(--polo-background);
    padding: 4rem;
    display: none;
    margin: 0 auto;
}

.checkout__list{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 20rem);
}

.checkout__listItem{
    list-style: none;
    grid-row: span 1;
    border-bottom: .3rem solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__image{
    height: 100%;
    width: auto;
    object-fit: contain;
}



.shoppingCart{
    position: fixed;
    top: 4rem;
    right: 4rem;
    background: black;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 100%;
}
.shoppingCart:hover{
    cursor: pointer;
}

.shoppingCart__message{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: white .2rem solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
}

.fill{
    height: 100vh;
    width: 100%;
    background: blue;
}

main{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
}

.polos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50rem 50rem 50rem;
    gap: 2rem;
}

.polos__polo{
    list-style: none;
    background: var(--polo-background);
    border-radius: .5rem;
    transition: .4s opacity;
}

.polos__polo--third{
    grid-column: span 2;
}

.polos__figure{
    width: 100%;
    height: 60%;
}

.polos__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.polos__body{
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
}

.polos__h2{
    font-size: 300%;
    font-weight: 700;
}

.polos__h3{
    font-size: 120%;
    font-weight: 400;
}

.polos__stars{
    color: gold;
    font-size: 130%;
}

.polos__button{
    width: 20rem;
    border: none;
    font-size: 90%;
    color: white;
    background: black;
    padding: 1rem 2rem;
}

.a-popup{
    animation-name: popup;
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(4rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 62.5rem) {
    body{
        padding: 0;
    }

    .searchBar{
        margin: 1rem;
    }

    .searchBar__input{
        flex-shrink: 0;
        width: 30rem;
    }

    .searchBar__glass{
        left: calc(30rem - 6rem);
    }
    main{
        padding: 2rem;
        width: 100%;
    }
    .polos{
        grid-template-columns: 100%;
        grid-template-rows: 65rem 65rem 65rem 65rem 65rem;
        gap: 1rem;
    }
    .polos__polo--third{
        grid-column: 1;
    }
    .modal{
        width:calc(100% - 2rem);
    }
    .checkout{
        margin: 2rem;
        width: 100%;
    }
    
    .checkout__list{
        grid-template-rows: repeat(5, 45rem);
    }
    .checkout__listItem{
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 2rem;
    }

    .checkout__image{
        height: 80%;
        width: 100%;
    }
    .shoppingCart{
        top: 20%;
    }
    .a-popup{
        animation-name: "broken";
        animation-duration: 0s;
    }
}